.button{
    padding: 10px;
    border-radius: 6px;
    color: white;
    box-shadow: 3px 4px 5px black;
}
.button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 3px black;
    padding: 8px;
}
.primary{
    background-color: cadetblue;
}
.share-buttom{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}